* {
    /* reset */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #3DD1FF;
}

p {
    color: rgb(255,159,60);
    font-weight: bold;


}

div > em {
    color: red;
}

h1 {
    font-weight: normal;
}

a {
    color: magenta;
}